/*Mobile first approach*/
.series {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0;
    justify-content: center;
    text-align: center;
    padding-left: 45px;
}

.poster-container {
    margin-bottom: 15px;
}

.poster {
    width: 200px;
    height: 300px;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
    margin-right: 25px;
}

.series-title {
    font-size: 14px;
}

@media(min-width: 600px) {
    .series {
        flex-direction: row;
        width: 1595px;
        margin: 30px 10px;
        padding-left: 69px;
    }
}