/*Mobile first approach*/
.movies-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    padding-left: 45px;
}

.movie-poster-container {
    margin-bottom: 15px;
}

.movie-poster {
    width: 200px;
    height: 300px;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    object-fit: cover;
    margin-right: 25px;
}

.movies-title {
    font-size: 12px;
}

@media(min-width: 600px) {
    .movies-list {
        flex-direction: row;
        width: 1595px;
        margin: 30px 10px;
        padding-left: 69px;
    }
}