/*Mobile first approach*/
.pop-titles {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    padding: 12px;
}

.series {
    margin: 0 0 15px 0;
}

.image-container {
    position: relative;
    color: #FFF;
    cursor: pointer;
}

.placeholder-img {
    background-color: #000;
    height: 200px;
    width: 140px;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 95px;
    right: 15px;
    font-size: 30px;
}

@media(min-width: 600px) {
    .pop-titles {
        flex-direction: row;
        align-items: start;
        padding-left: 80px;
    }

    .series {
        margin-right: 15px;
    }

    .image-overlay {
        position: absolute;
        top: 90px;
        right: 15px;
    }
}